<mat-card class="cardWithShadow">
    <mat-card-header>
        <mat-card-title>Transfer Products to Stores</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="scrollable-wrapper">
            <mat-horizontal-stepper [linear]="true" #stepper class="no-click-header small-font">
                <mat-step>
                    <ng-template matStepLabel>Search Products</ng-template>

                    <div class="page-container">
                        <br>
                        <div class="filters mat-elevation-z1">
                            <div class="filter-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>From</mat-label>
                                    <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromDate">
                                    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #fromPicker></mat-datepicker>
                                </mat-form-field>

                                <span class="to-label">to</span>

                                <mat-form-field appearance="outline">
                                    <mat-label>To</mat-label>
                                    <input matInput [matDatepicker]="toPicker" [(ngModel)]="toDate">
                                    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #toPicker></mat-datepicker>
                                </mat-form-field>

                            </div>

                            <div class="button-group button-row">
                                <button mat-flat-button color="primary"
                                    (click)="searchTransfer()"><mat-icon>search</mat-icon>
                                    Search</button>
                                <button mat-stroked-button (click)="clearForm()"><mat-icon>clear</mat-icon> Clear</button>
                            </div>
                        </div>

                        <p class="note-text">🟢 The list below shows new (UPC level) and updated products.</p>
                        <app-expandable-table [tableGroups]="tableGroupValues"></app-expandable-table>
                    </div>

                    <div class="m-t-20 button-row-end">
                        <button mat-stroked-button color="warn" (click)="clearForm()">
                            <mat-icon>cancel</mat-icon> Clear
                        </button>

                        <button mat-flat-button color="primary" (click)="nextStep()" [disabled]="products.length < 1">
                            Next
                        </button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Select Stores</ng-template>
                    <!-- Store Selector -->
                    <div class="page-center">
                        <div class="store-panel mat-elevation-z1 compact-panel">
                            <mat-checkbox [(ngModel)]="allSelected" (change)="toggleAll()" class="compact-checkbox">
                                Check All
                            </mat-checkbox>

                            <div class="store-list">
                                <mat-checkbox *ngFor="let store of stores" [(ngModel)]="store.selected"
                                    class="compact-checkbox">
                                    {{ store.name }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 button-row-end">
                        <button mat-stroked-button color="warn" (click)="previousStep()">
                            <mat-icon>arrow_back</mat-icon> Back
                        </button>

                        <button mat-flat-button color="primary" (click)="previewTransfer()"
                            [disabled]="getSelectedStoreCodes().length < 1">
                            Next
                        </button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Transfer Preview</ng-template>
                    <app-expandable-table [tableGroups]="tablePreviewValues"></app-expandable-table>
                    <div class="m-t-20 button-row-end">
                        <button mat-stroked-button color="warn" (click)="previousStep()">
                            <mat-icon>arrow_back</mat-icon> Back
                        </button>

                        <button mat-flat-button color="primary" (click)="confirmTransfer()">
                            Next
                        </button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Transfer Results</ng-template>
                    <app-expandable-table [tableGroups]="tableGroupResultValues"></app-expandable-table>
                    <div class="m-t-20 button-row-end">
                        <button mat-stroked-button color="primary" (click)="reset()">
                            <mat-icon>arrow_back</mat-icon> Transfer Again
                        </button>
                    </div>
                </mat-step>

            </mat-horizontal-stepper>
        </div>
    </mat-card-content>
</mat-card>