.blank-layout-container {
    height: 100vh;
    display: flex;
}

.bg-gredient {
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
}

.cardWithShadow {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.boxed-auth {
    width: 100%;
}

.p-32 {
    padding: 32px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-12 {
    margin-bottom: 12px;
}

.w-100 {
    width: 100%;
}