<div class="col-lg-12 d-flex align-items-center">
    <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
            <form class="m-t-30" [formGroup]="form">
                <!-- Current Password -->
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Current Password</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput type="password" formControlName="currentPassword"
                        placeholder="Enter current password" />
                    <mat-error *ngIf="form.get('currentPassword')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <!-- New Password -->
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">New Password</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput type="password" formControlName="newPassword" placeholder="Enter new password" />
                    <mat-error *ngIf="form.get('newPassword')?.hasError('required')">Required</mat-error>
                    <mat-error *ngIf="form.get('newPassword')?.hasError('minlength')">Min 6
                        characters</mat-error>
                </mat-form-field>

                <!-- Confirm New Password -->
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Confirm New
                    Password</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput type="password" formControlName="confirmPassword"
                        placeholder="Confirm new password" />
                    <mat-error *ngIf="form.hasError('passwordsMismatch')">Passwords do not match</mat-error>
                </mat-form-field>

                <!-- Submit -->
                <button (click)="changePassword()" [disabled]="form.invalid" mat-flat-button color="primary"
                    class="w-100">
                    Change Password
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>