<mat-form-field appearance="outline" class="select-form-field">
    <mat-label>{{ label }}</mat-label>
    <input type="text" matInput [formControl]="control" [placeholder]="placeHolder" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayItem" autoActiveFirstOption>
        <mat-option [value]="null" *ngIf="addAll">All</mat-option>
        <mat-option *ngFor="let item of filteredItems" [value]="item">
            {{ item.displayText }} @if (includeCodeInDisplay){({{ item.value }})}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>